@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-black: 0, 0, 0;
  --background-dark: #260e3f;
  --primary-font-color: #ffffff;
}

body {
  width: 100vw;
  height: 100vh;
  color: var(--primary-font-color);
  background-color: var(--background-dark);
}

html {
  width: 100vw;
  height: 100vh;
}